extends baseEmail 

block content 
  p Witaj,
  p Zapomniałeś hasła? Potwierdź akcję ustawienia nowego hasła klikając:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Resetuj hasło
  p Jeśli nie prosiłeś o zmianę hasła, zignoruj tę wiadomość

