.edit-nav 
  .edit--nav-panel
    .edit--nav-panel-header 
      p.text.edit--header-text Strona Główna
      span.edit--nav-icon
        i.ph.ph-plus-circle
      span.edit--nav-icon.hidden
        i.ph.ph-minus-circle
    .edit--nav-panel-options.hidden
      .option 
        a.link.option-link.option-active(href="/admin-zar-stal/edycja/strona-glowna-opis") Edytuj opis
      .option 
        a.link.option-link(href="/admin-zar-stal/edycja/strona-glowna-realizacje") Wybierz główne realizacje
      .option 
        a.link.option-link(href="/admin-zar-stal/edycja/strona-glowna-oferta") Edytuj ofertę
      .option 
        a.link.option-link(href="/admin-zar-stal/edycja/strona-glowna-kontakt") Edytuj dane kontaktowe

  .edit--nav-panel
    .edit--nav-panel-header 
      p.text.edit--header-text Realizacje
      span.edit--nav-icon
        i.ph.ph-plus-circle
      span.edit--nav-icon.hidden
        i.ph.ph-minus-circle
    .edit--nav-panel-options.hidden
      .option 
        a.link.option-link(href="/admin-zar-stal/realizacje/utworz-realizacje") Utwórz realizację
      .option 
        a.link.option-link(href="/admin-zar-stal/realizacje/edytuj-realizacje") Edytuj realizację
      .option 
        a.link.option-link(href="/admin-zar-stal/realizacje/usun-realizacje") Usuń realizację

  .edit--nav-panel
    .edit--nav-panel-header 
      p.text.edit--header-text Elementy
      span.edit--nav-icon
        i.ph.ph-plus-circle
      span.edit--nav-icon.hidden
        i.ph.ph-minus-circle
    .edit--nav-panel-options.hidden
      .option 
        a.link.option-link(href="#") Utwórz element
      .option 
        a.link.option-link(href="#") Edytuj element
      .option 
        a.link.option-link(href="#") Usuń element