footer.footer 
  .footer-container 
    img.footer-logo(src='../img/logo.png' alt='Logo firmy Zar-Stal')
    .footer-contact 
      p.footer-title Kontakt 
      .footer-text właściciel: +48 504 200 637
      .footer-text kierownik prod.: +48 502 307 540
      .footer-text sekretariat: +48 786 807 755
      .footer-text email: biuro@zar-stal.pl
      .footer-text.footer-openhours
        .openhours
          span pn-pt 
          span 06:00-16:00 
        .openhours 
          span sb 
          span 06:00-16:00 
        .openhours
          span nd 
          span nieczynne 
    .footer-nav 
      p.footer-title Nawigacja 
      .footer-text
        a.footer-nav.link(href="#") Firma
        a.footer-nav.link(href="#") Oferta
        a.footer-nav.link(href="#") Realizacje
        a.footer-nav.link(href="#") Kontakt
    .footer-offert 
      p.footer-title Oferta 
      .footer-text 
        a.footer-nav.link(href="#") Konstrukcje Stalowe
        a.footer-nav.link(href="#") Elementy Stalowe
        a.footer-nav.link(href="#") Kontenery
        a.footer-nav.link(href="#") Świetliki Kalenicowe 
        a.footer-nav.link(href="#") Hale Magazynowe
        a.footer-nav.link(href="#") Hale Rolnicze
        a.footer-nav.link(href="#") Hale Produkcyjne
        a.footer-nav.link(href="#") Hale Sportowe 
    .footer-goup
      p.footer-title
        a.link(href="#")  Do Góry 
          i.ph.ph-arrow-up