.nav-container
  nav
    a.logo-container(href='#') 
      img(src='../img/logo.png' alt='Logo firmy Zar-Stal')
    .nav-menu
      .nav-btn
        a.nav-item.link(href="#firma") Firma 
      .nav-btn
        a.nav-item.link(href="#oferta") Oferta 
      .nav-btn
        a.nav-item.link(href="/realizacje") Nasze Realizacje
      .nav-btn
        a.nav-item.link(href="#kontakt") Kontakt