extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  link(rel='stylesheet', href='/css/queries/queriesAdmin.css')
  title Zar-Stal | Wybierz główne realizacje

block content
  section.section-admin.section--account-management
    include _editNav

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Ustaw nowe hasło
        
        form.form.form--change-password
          label.label(for='current-password') Aktualne hasło
          input#current-password.input(type='password')
          label.label(for='new-password') Nowe hasło
          input#new-password.input(type='password')
          label.label(for='repeat--new-password') Powtórz nowe hasło
          input#repeat--new-password.input(type='password')
          input.submit-btn(type='submit' value='Ustaw hasło')