extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  title Zar-Stal | Utwórz element

block content
  section.section-admin.section--create-element
    include _editNav

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Utwórz element
        img.edit-instruction__img(src='/img/edit-pages/create-element.jpg', alt='instrukcja obsługi panelu admina')

        h2.secondary--header-edit Dane elementu
        form.form.edit-form.edit--form-margin
          p.text.form--inside-title Dane podstawowe
          label.label(for='category') Kategoria elementu
          select.input#category(type='text')
            option(value='none') brak 
            option(value='Elementy') Elementy stalowe 
            option(value='Maszyny') Maszyny
            option(value='Kontenery') Kontenery
          label.label(for='title') Tytuł elementu
          input.input#title(type='text')

          p.text.form--inside-title Dodaj zdjęcia
          label.label.label-margintop(for='images') Wybierz zdjęcia
          input.input-file#images(type='file' multiple)

          p.text.form--inside-title Utwórz element
          input.submit-btn(type='submit' value='Utwórz element')
        
