extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  title Zar-Stal | Utwórz element

block content
  section.section-admin
    include _editNav

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Utwórz element
        img.edit-instruction__img(src='/img/edit-pages/create-element.jpg', alt='instrukcja obsługi panelu admina')

        h2.secondary--header-edit Dane elementu
        form.form.edit-form.edit--form-margin
          p.text.form--inside-title Dane podstawowe
          label.label(for='category') Kategoria elementu
          input.input#category(type='text')
          label.label(for='title') Tytuł elementu
          input.input#title(type='text')

          p.text.form--inside-title Dodaj zdjęcia
          label.label(for='primary-image') Wybierz jedno zdjęcie główne
          input.input-file#primary-image(type='file')
          label.label.label-margintop(for='images') Wybierz pozostałe zdjęcia
          input.input-file#images(type='file')

          p.text.form--inside-title Utwórz element
          input.submit-btn(type='submit' value='Utwórz element')
        
