extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  title Zar-Stal | Usuń realizację

block content
  section.section-admin.section--delete-realization
    include _editNav

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Usuń realizację
        
        .choose-realizations
          .choose-cart
            .img-box 
              img(src="/img/realization/realization5/realizacja-th-5-1.jpg", alt="realizacja do wybrania")
            .choose--realization-info.choose--realization-info-edit
              p.choose--realization-title Hala do produkcji konstrukcji stalowych 
              .choose--realization-edit
                button.btn.delete--realization-btn Usuń
          .choose-cart
            .img-box 
              img(src="/img/realization/realization5/realizacja-th-5-1.jpg", alt="realizacja do wybrania")
            .choose--realization-info.choose--realization-info-edit
              p.choose--realization-title Hala do produkcji konstrukcji stalowych 
              .choose--realization-edit
                button.btn.delete--realization-btn Usuń
          .choose-cart
            .img-box 
              img(src="/img/realization/realization5/realizacja-th-5-1.jpg", alt="realizacja do wybrania")
            .choose--realization-info.choose--realization-info-edit
              p.choose--realization-title Hala do produkcji konstrukcji stalowych 
              .choose--realization-edit
                button.btn.delete--realization-btn Usuń
          .choose-cart
            .img-box 
              img(src="/img/realization/realization5/realizacja-th-5-1.jpg", alt="realizacja do wybrania")
            .choose--realization-info.choose--realization-info-edit
              p.choose--realization-title Hala do produkcji konstrukcji stalowych 
              .choose--realization-edit
                button.btn.delete--realization-btn Usuń
          .choose-cart
            .img-box 
              img(src="/img/realization/realization5/realizacja-th-5-1.jpg", alt="realizacja do wybrania")
            .choose--realization-info.choose--realization-info-edit
              p.choose--realization-title Hala do produkcji konstrukcji stalowych 
              .choose--realization-edit 
                button.btn.delete--realization-btn Usuń

        .overlay.overlay--delete-realization.hidden
        .modal--delete-realization.hidden
          p.are--you-sure Czy napewno chcesz usunąć realizację?
          .modal-btns
            button.btn.sure-btn.sure--confirm-btn Usuń
            button.btn.sure-btn.sure--discard-btn Anuluj
