extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  link(rel='stylesheet', href='/css/queries/queriesAdmin.css')
  title Zar-Stal | Usuń element

block content
  section.section-admin.section--delete-element
    include _editNav

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Usuń element
        
        .choose-elements
          each element in elements
            .choose-cart
              .img-box 
                img(src=`/img/realization/steel-elements/${element.imagesThumbnails[0]}`, alt="element do wybrania")
              .choose--realization-info.choose--realization-info-edit
                p.choose--realization-title= element.title
                .choose--realization-edit
                  button.btn.delete--element-btn(data-element-id=element._id) Usuń


        .overlay.overlay--delete-element.hidden
        .modal--delete-element.hidden
          p.are--you-sure Czy napewno chcesz usunąć element?
          .modal-btns
            button.btn.sure-btn.sure--confirm-btn Usuń
            button.btn.sure-btn.sure--discard-btn Anuluj
