extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  title Zar-Stal | Edytuj kontakt

block content
  section.section-admin.section--edit-contact
    include _editNav

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Edytuj kontakt
        img.edit-instruction__img(src='/img/edit-pages/edit-contact-openhours.jpg', alt='instrukcja obsługi panelu admina')

        h2.secondary--header-edit Dane kontaktowe
        p.text.form--inside-title Wypełnij tylko pola, które chcesz zaktualizować!
        form.form.edit-form.edit--form-margin.form-contact#form--edit-contact
          .form-fields
            label.label Właściciel telefon 
            input.input#owner-number(type="tel" placeholder='123 123 123' pattern="[0-9]{3} [0-9]{3} [0-9]{3}")
          .form-fields
            label.label Kierownik prod. telefon 
            input.input#production-number(type="tel" placeholder='123 123 123' pattern="[0-9]{3} [0-9]{3} [0-9]{3}")
          .form-fields
            label.label Sekretariat telefon
            input.input#secretariat-number(type="tel" placeholder='123 123 123' pattern="[0-9]{3} [0-9]{3} [0-9]{3}")
          .form-fields
            label.label Email kontaktowy
            input.input#email-contact(type="email" placeholder='email@zar-stal.com')
         
          input(type="submit" value="Aktualizuj kontakt")#submit.submit-btn.submit--btn-contact
        
        h2.secondary--header-edit Godziny otwarcia
        p.text.form--inside-title Wypełnij tylko pola, które chcesz zaktualizować!
        form.form.edit-form.edit--form-margin.form--edit-openhours#form--id-edit-openhours
          .openhours-fields 
            label.label Godzina otwarcia pn-pt 
            input(type='string' placeholder="hh:mm" maxlength=5).input#openhour-1
          .openhours-fields 
            label.label Godzina zamknięcia pn-pt 
            input(type='string' placeholder="hh:mm" maxlength=5).input#closehour-1
          .openhours-fields 
            label.label Godzina otwarcia sb 
            input(type='string' placeholder="hh:mm" maxlength=5).input#openhour-2
          .openhours-fields 
            label.label Godzina zamknięcia sb 
            input(type='string' placeholder="hh:mm" maxlength=5).input#closehour-2
          .openhours-isclosed 
            label.label(for='sb-isclosed') Sobota nieczynne?
            input.input.input-isclosed#saturday-isclosed(type="checkbox" value='closed')

          input(type="submit" value="Aktualizuj godziny")#submit.submit-btn.submit--btn-contact
