extends base

block append head
  link(rel='stylesheet', href='/css/style.css')
  title Zar-Stal | Logowanie


block content 
  section.section-login
    form.form.login-form
      h1.primary--header-auth Błąd
      h2.primary--header-auth Błąd
      h3.primary--header-auth Błąd
      h4.primary--header-auth Błąd
