extends base

block append head
  link(rel='stylesheet', href='/css/style.css')
  title Zar-Stal | Logowanie


block content 
  section.section-error
    .error-box
      h1.primary--header-auth= title
      - if(errorCode === 401)
          p.text= msg
          p.text.error-text  
            a(href='/logowanie').link.error--login-btn Zaloguj się
      - else
          p.text= msg