extends base

block append head
  link(rel='stylesheet', href='/css/style.css')
  title Zar-Stal | Zapomniałem hasła


block content 
  section.section--forgot-password
    form.form.forgot--password-form
      h1.primary--header-auth Zapomniałem hasła
      label.label(for='email') Email
      input.input#email(type='email' placeholder='Email')
      input.input--submit-auth(type="submit" value='Wyślij')
      a(href="/admin-zar-stal/logowanie").link.forgot--password-btn Logowanie