doctype html
html
  head 
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/general.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet")
    script(src="https://unpkg.com/@phosphor-icons/web")
    title Zar-Stal | Konstrukcje Stalowe
  body 
    header
      .nav-container
        nav
          a.logo-container(href='#') 
            img(src='../img/logo.png' alt='Logo firmy Zar-Stal')
          .nav-menu
            .nav-btn
              a.nav-item.link(href="#") Firma 
            .nav-btn
              a.nav-item.link(href="#") Oferta 
            .nav-btn
              a.nav-item.link(href="#") Nasze Realizacje
            .nav-btn
              a.nav-item.link(href="#") Kontakt
      .hero 
        .hero--text-box
          h1.primary-header.hero-header ZAR-STAL <br> KONSTRUKCJE STALOWE
          p.hero-text Specjalizuje się w produkcji konstrukcji stalowych, elementów stalowych, świetlików kalenicowych, kontenerów, hal magazynowych, produkcyjnych, sportowych czy rolniczych. Produkujemy, dostarczamy oraz montujemy konstrukcje w Polsce i za granicą.
          .hero-btns 
            a.btn.btn-realization.link(href='#') REALIZACJE
            a.btn.btn-offert.link(href='#') OFERTA

    ///////////////////////////////////////////
    ///////////////TESTIMONIALS////////////////
    ///////////////////////////////////////////
    section.section-testimonials
      .container 
        span.subtitle klienci
        h2.secondary-header Zaufali Nam
        .clients-logo
          img.client-logo(src='../img/clients-logo/logo1.png' alt='logo firmy która zaufała')
          img.client-logo(src='../img/clients-logo/logo2.png' alt='logo firmy która zaufała')
          img.client-logo(src='../img/clients-logo/logo3.png' alt='logo firmy która zaufała')
          img.client-logo(src='../img/clients-logo/logo4.png' alt='logo firmy która zaufała')

    //////////////////////////////////////
    ///////////////COMPANY////////////////
    //////////////////////////////////////
    section.section-company
      .container 
        span.subtitle firma
        h2.secondary-header Dlaczego My?
        .company-info
          .info-detail
            .info-icon 
              i.ph.ph-gear
            p.info-name Doświadczenie
            p.info-description Posiadamy duże doświadczenie, dysponujemy wykwalifikowanym zespołem spawaczy i&nbsp;monterów dlatego wykonywane przez nas usługi są najwyższej jakości
          .info-detail
            .info-icon 
              i.ph.ph-certificate
            p.info-name Certyfikat
            p.info-description Posiadamy certyfikat zarządzania jakością zgodnie z normą ISO 9001, dzięki czemu nasze wyroby wyróżnia trwałość i&nbsp;solidność.
          .info-detail
            .info-icon 
              i.ph.ph-seal-check
            p.info-name Gwarancja
            p.info-description Gwarantujemy generalne wykonawstwo od tworzenia projektów wykonawczych aż po oddanie obiektu do użytku, zgodnie z oczekiwaniami klientów.
          .info-detail
            .info-icon 
              i.ph.ph-clock-countdown
            p.info-name Terminowość
            p.info-description Wyjątkową wagę przykładamy do terminowego zakończenia prac, jednocześnie dbając o każdy szczegół, aby klient był zadowolony z&nbsp;efektu końcowego.
          .info-detail
            .info-icon 
              i.ph.ph-shield-check
            p.info-name Bezpieczeństwo
            p.info-description Stosujemy się do wszelkich wytycznych i&nbsp;norm, dbamy o bezpieczeństwo naszych konstrukcji, zapewniając ich trwałość i&nbsp;niezawodność.
          .info-detail
            .info-icon 
              i.ph.ph-sketch-logo
            p.info-name Najwyższa Jakość
            p.info-description Stosujemy wyłącznie materiały najwyższej jakości, które są atestowane i&nbsp;certyfikowane, co zapewnia długowieczność i&nbsp;solidność naszych konstrukcji.


    //////////////////////////////////////
    ////////////REALIZATIONS//////////////
    //////////////////////////////////////
    section.section-realizations
      .container 
        span.subtitle realizacje
        h2.secondary-header Nasze Realizacje
        .realizations-box 
          img.realization-img(src='../img/realization/realizacja1.JPG' alt="zdjęcie realizacji konstrukcji stalowej przez Zar-Stal")
          .realization-desc.desc-wi
            h3.third-header nazwa realizacji I 
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet malesuada urna, vitae ullamcorper sem sollicitudin vel. Integer convallis velit et eros egestas sollicitudin. Vivamus ac ligula diam. Vestibulum vitae nunc id neque facilisis convallis.
            a(href='#').btn.link.btn--see-realization Zobacz Realizację
          .realization-desc
            h3.third-header nazwa realizacji II
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet malesuada urna, vitae ullamcorper sem sollicitudin vel. Integer convallis velit et eros egestas sollicitudin. Vivamus ac ligula diam. Vestibulum vitae nunc id neque facilisis convallis.
            a(href='#').btn.link.btn--see-realization Zobacz Realizację
          img.realization-img(src='../img/realization/realizacja2.JPG' alt="zdjęcie realizacji konstrukcji stalowej przez Zar-Stal")
        a(href='#').btn.link.btn--see-morerealizations Zobacz Więcej Realizacji

    ////////////////////////////////
    ////////////OFFERT//////////////
    ////////////////////////////////
    section.section-realizations
      .container 
        span.subtitle oferta
        h2.secondary-header Nasza Oferta
        .offert-grid
      