extends base

block append head 
  link(rel="stylesheet", href="/css/edit.css")
  title Zar-Stal | Edytuj Stronę Główną

block content
  section.section-admin 
    .edit-nav 
      .edit--nav-panel
        .edit--nav-panel-header 
          p.text.edit--header-text Strona Główna
          span.edit--nav-icon 
            i.ph.ph-minus-circle
        .edit--nav-panel-options 
          .option 
            a.link.option-link(href="#") Edytuj tytuł i opis
          .option 
            a.link.option-link(href="#") Wybierz główne realizacje
          .option 
            a.link.option-link(href="#") Edytuj ofertę
          .option 
            a.link.option-link(href="#") Edytuj dane kontaktowe

      .edit--nav-panel
        .edit--nav-panel-header 
          p.text.edit--header-text Realizacje
          span.edit--nav-icon 
            i.ph.ph-plus-circle

      .edit--nav-panel
        .edit--nav-panel-header 
          p.text.edit--header-text Elementy
          span.edit--nav-icon 
            i.ph.ph-plus-circle

    .edit-content
      .edit--content-box
        h1.primary-header.edit--primary-header Edytuj tytuł i opis
        img.edit-instruction__img(src='/img/edit-pages/edit-LP.jpg', alt='instrukcja obsługi panelu admina')
        form.form.edit-form
          label.label(for='title') Tytuł
          input(type="text")#title.input
          label.label(for='description') Opis
          input(type="text")#description.input
          input(type="submit" value="Aktualizuj wypełnione pola")#submit.submit-btn
