extends base

block append head
  link(rel='stylesheet', href='/css/style.css')
  title Zar-Stal | Nowe Hasło


block content 
  section.section--new-password
    form.form.new--password-form
      h1.primary--header-auth Nowe hasło
      label.label(for='password') Hasło
      input.input#password(type='password' placeholder='Hasło')
      label.label(for='password-confirm') Powtórz hasło
      input.input#password-confirm(type='password' placeholder='Powtórz hasło')
      input.input--submit-auth(type="submit" value='Zapisz')
      a(href="/admin-zar-stal/logowanie").link.forgot--password-btn Logowanie 