* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
/* outline-offset: 8px;
  box-shadow: 0 0 0 0.4rem #9db2bf;
} */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #27374d;
  color: #fff;
  font-family: Lato, 'sans serif';
}

.link:link,
.link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.btn {
  font-size: 2rem;
}

.primary-header {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 1.2;
}

.secondary-header {
  font-size: 4.4rem;
  font-weight: 400;
}

.third-header {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.text {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 150rem;
}

.container-realizations {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 150rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(39, 55, 77, 0.6);
  backdrop-filter: blur(3px);
  z-index: 9990;
}

.hidden {
  display: none !important;
}
