* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
/* outline-offset: 8px;
  box-shadow: 0 0 0 0.4rem #9db2bf;
} */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #27374d;
  color: #fff;
  font-family: Lato, 'sans serif';
  position: relative;
  overflow-x: hidden;
}

section {
  transition:
    transform 1s,
    opacity 1s;
}

.link:link,
.link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.btn {
  font-size: 2rem;
}

.primary-header {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 1.2;
}

.secondary-header {
  font-size: 4.4rem;
  font-weight: 400;
}

.third-header {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.text {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 150rem;
}

.container-realizations {
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 150rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 28, 39, 0.9);
  backdrop-filter: blur(3px);
  z-index: 9990;
}

.hidden {
  display: none !important;
}

.lazy-img {
  filter: blur(5px);
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* OFERTA SIATKA */

.offert-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-top: 5.2rem;
}

.offert-item {
  height: 30rem;
  font-size: 3.2rem;
  text-align: center;
  box-shadow: 0 0 9px 5px rgba(3, 3, 3, 0.1);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

.offert-item img {
  width: 100%;
  opacity: 0.9;
  transition: all 0.3s;
  height: 100%;
  object-fit: cover;
}

.offert-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  width: 100%;
}

.offert-item:hover img {
  box-shadow: 0 0 9px 9px rgba(3, 3, 3, 0.1);
  transform: scale(1.1);
}
