/* 
- Font sizes: (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*******************/
/******HEADER*******/
/*******************/
.overview-header {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.17),
      rgba(39, 55, 77, 0.17)
    ),
    url('../img/hero-bg/bg1-cp.JPG');
  background-size: cover;
  /* background-position-y: -14rem; */
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.hero {
  background-color: rgba(39, 55, 77, 0.8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 40%;
}

.hero-header {
  margin-top: 8rem;
}

.hero--text-box {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 5.2rem;
}

.hero-text {
  margin-top: 3.2rem;
  font-size: 2.4rem;
  line-height: 1.7;
}

.hero-btns {
  display: flex;
  gap: 2.4rem;
  margin-top: 5.2rem;
  justify-content: flex-end;
  padding-right: 5.2rem;
}

.btn {
  transition: all 0.3s;
}

.hero-btns .btn:hover {
  background-color: #141c27;
}

.btn-realization {
  background-color: #526d82;
  padding: 1.6rem 2.4rem;
}

.btn-offert {
  background-color: #27374d;
  padding: 1.6rem 4.4rem;
}

/*************************/
/******TESTIMONIALS*******/
/*************************/
.section-testimonials {
  margin-top: 4.4rem;
}

.trusted-us {
  text-align: center;
  font-size: 1.6rem;
  color: #a0a0a0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.clients-logo {
  margin-top: 4.4rem;
  display: flex;
  gap: 4.4rem;
  height: 8rem;
  justify-content: space-around;
}

.client-logo {
  filter: saturate(0);
  opacity: 60%;
}

/*********************/
/******COMPANY*******/
/********************/
.section-company {
  margin-top: 3.2rem;
  padding-top: 9.4rem;
}

.company-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.2rem;
  width: 90%;
  margin: 7.4rem auto 0 auto;
}

.info-detail {
  background-color: #dde6ed;
  color: #27374d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 6.4rem 4.4rem 9.6rem 4.4rem;
  border-radius: 3px;
  box-shadow: 0 0 7px 5px rgba(3, 3, 3, 0.2);
}

.info-icon {
  font-size: 9.6rem;
}

.info-name {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.info-description {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
}

/*************************/
/******REALIZATIONS*******/
/*************************/
.section-realizations {
  margin-top: 7.2rem;
  padding-top: 9.4rem;
  position: relative;
}
.realizations-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4.4rem;
  row-gap: 12.8rem;
  margin-top: 4.4rem;
}

.realization-img {
  width: 100%;
  box-shadow: 0 0 7px 5px rgba(3, 3, 3, 0.2);
  border-radius: 3px;
}

.realization-img {
  grid-column: span 4;
}

.realization-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.4rem;
}

.realization-desc {
  grid-column: span 2;
}

.btn--see-realization {
  background-color: #526d82;
  padding: 1.6rem 2.4rem;
  display: block;
  width: 50%;
  text-align: center;
  margin: 3.2rem auto;
  transition: all 0.3s;
}

.btn--see-morerealizations {
  background-color: #526d82;
  padding: 1.6rem 2.4rem;
  margin: 9.6rem auto 0 auto;
  display: block;
  text-align: center;
  width: 35rem;
  transition: all 0.3s;
}

.section-realizations .btn:hover {
  background-color: #141c27;
}

/********************/
/******OFFERT*******/
/*******************/
.section-offert {
  margin-top: 7.2rem;
  padding-top: 9.4rem;
}

.offert-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-top: 5.2rem;
}

.offert-item {
  height: 30rem;
  font-size: 3.2rem;
  text-align: center;
  box-shadow: 0 0 9px 5px rgba(3, 3, 3, 0.1);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

.offert-item img {
  width: 100%;
  opacity: 0.9;
  transition: all 0.3s;
  height: 100%;
}

.offert-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  width: 100%;
}

.offert-item:hover img {
  box-shadow: 0 0 9px 9px rgba(3, 3, 3, 0.1);
  transform: scale(1.1);
}

.offert-item1 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta1.png');
}

.offert-item2 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta2.jpg');
}

.offert-item3 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta3.jpg');
}

.offert-item3 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta3.jpg');
}

.offert-item4 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta4.jpg');
}

.offert-item5 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta5.jpg');
}

.offert-item6 {
  background-image: linear-gradient(
      rgba(39, 55, 77, 0.75),
      rgba(39, 55, 77, 0.75)
    ),
    url('../img/offert/oferta6.jpg');
}

/********************/
/******CONTACT*******/
/********************/
.section-contact {
  margin-top: 7.2rem;
  padding-top: 9.4rem;
  position: relative;
  padding-bottom: 15.8rem;
}

.contact-panel {
  width: 85%;
  box-shadow: 0 0 7px 5px rgba(3, 3, 3, 0.2);
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin: 4.4rem auto 0 auto;
}

.contact--left-col {
  padding: 3.2rem;
  background-color: rgba(157, 178, 191, 0.25);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem auto;
  justify-items: center;
}

.contact--right-col {
  padding: 3.2rem;
  background-color: rgba(157, 178, 191, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem auto;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input-contact {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9db2bf;
  color: #9db2bf;
  font-size: 2.4rem;
  padding: 1.2rem 0.6rem;
}

.input-contact::placeholder {
  color: #526d82;
  opacity: 1; /* Firefox */
}

.textarea-contact {
  display: block;
  width: 100%;
  height: 20rem;
  color: #526d82;
  font-size: 2.4rem;
  background-color: #dde6ed;
  border: none;
  padding: 1.2rem 0.6rem;
  margin-top: 1.6rem;
}

.textarea-contact::placeholder {
  color: #526d82;
  opacity: 1; /* Firefox */
}

.input-submit {
  background-color: #526d82;
  color: #dde6ed;
  border: none;
  width: 100%;
  font-size: 2.4rem;
  padding: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.input-submit:hover {
  background-color: #27374d;
}

.contact-header {
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #dde6ed;
  margin-bottom: 2rem;
  align-self: end;
}

.contact-logo {
  filter: brightness(100%);
  opacity: 70%;
  height: 17.8rem;
  margin-bottom: 2rem;
}

.contact-box {
  width: 100%;
}

.contact-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  position: relative;
  padding-bottom: 0.4rem;
  padding-left: 5.2rem;
  margin-top: 1.6rem;
}

.icon-contact {
  color: #9db2bf;
  font-size: 3.2rem;
  position: absolute;
  left: 0;
  bottom: 0.4rem;
}

.ph-clock {
  top: 25px !important;
}

.contact--sub-info {
  color: #9db2bf;
  font-size: 1.6rem;
}

.contact--main-info {
  font-size: 2.4rem;
  color: #dde6ed;
}
.last-contact {
  display: flex;
  flex-direction: column;
}

.openhours {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  flex: 0;
  color: #dde6ed;
  width: 100%;
}

.construction-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -10;
  opacity: 20%;
}
